
*.dylib
*.dll
WebHookGenerator/bin/Release/netcoreapp3.1/osx-x64/SOS_README.md
WebHookGenerator/bin/Release/netcoreapp3.1/osx-x64/System.IO.Compression.Native.a
WebHookGenerator/bin/Release/netcoreapp3.1/osx-x64/System.Native.a
WebHookGenerator/bin/Release/netcoreapp3.1/osx-x64/System.Net.Http.Native.a
WebHookGenerator/bin/Release/netcoreapp3.1/osx-x64/System.Net.Security.Native.a
WebHookGenerator/bin/Release/netcoreapp3.1/osx-x64/System.Security.Cryptography.Native.Apple.a
WebHookGenerator/bin/Release/netcoreapp3.1/osx-x64/System.Security.Cryptography.Native.OpenSsl.a
WebHookGenerator/bin/Release/netcoreapp3.1/osx-x64/WebHookGenerator
WebHookGenerator/bin/Release/netcoreapp3.1/osx-x64/WebHookGenerator.deps.json
WebHookGenerator/bin/Release/netcoreapp3.1/osx-x64/WebHookGenerator.pdb
WebHookGenerator/bin/Release/netcoreapp3.1/osx-x64/WebHookGenerator.runtimeconfig.dev.json
WebHookGenerator/bin/Release/netcoreapp3.1/osx-x64/WebHookGenerator.runtimeconfig.json
WebHookGenerator/bin/Release/netcoreapp3.1/WebHookGenerator.deps.json
WebHookGenerator/bin/Release/netcoreapp3.1/WebHookGenerator.exe
WebHookGenerator/bin/Release/netcoreapp3.1/WebHookGenerator.pdb
WebHookGenerator/bin/Release/netcoreapp3.1/WebHookGenerator.runtimeconfig.dev.json
WebHookGenerator/bin/Release/netcoreapp3.1/WebHookGenerator.runtimeconfig.json
WebHookGenerator/bin/Release/netcoreapp3.1/win-x64/publish/SOS_README.md
WebHookGenerator/bin/Release/netcoreapp3.1/win-x64/publish/WebHookGenerator.deps.json
WebHookGenerator/bin/Release/netcoreapp3.1/win-x64/publish/WebHookGenerator.exe
WebHookGenerator/bin/Release/netcoreapp3.1/win-x64/publish/WebHookGenerator.pdb
WebHookGenerator/bin/Release/netcoreapp3.1/win-x64/publish/WebHookGenerator.runtimeconfig.json
WebHookGenerator/bin/Release/netcoreapp3.1/win-x64/SOS_README.md
WebHookGenerator/bin/Release/netcoreapp3.1/win-x64/WebHookGenerator.deps.json
WebHookGenerator/bin/Release/netcoreapp3.1/win-x64/WebHookGenerator.exe
WebHookGenerator/bin/Release/netcoreapp3.1/win-x64/WebHookGenerator.pdb
WebHookGenerator/bin/Release/netcoreapp3.1/win-x64/WebHookGenerator.runtimeconfig.dev.json
WebHookGenerator/bin/Release/netcoreapp3.1/win-x64/WebHookGenerator.runtimeconfig.json
WebHookGenerator/bin/Release/netcoreapp3.1/win-x86/SOS_README.md
WebHookGenerator/bin/Release/netcoreapp3.1/win-x86/WebHookGenerator.deps.json
WebHookGenerator/bin/Release/netcoreapp3.1/win-x86/WebHookGenerator.exe
WebHookGenerator/bin/Release/netcoreapp3.1/win-x86/WebHookGenerator.pdb
WebHookGenerator/bin/Release/netcoreapp3.1/win-x86/WebHookGenerator.runtimeconfig.dev.json
WebHookGenerator/bin/Release/netcoreapp3.1/win-x86/WebHookGenerator.runtimeconfig.json
WebHookGenerator/obj/Debug/netcoreapp3.1/WebHookGenerator.AssemblyInfo.cs
WebHookGenerator/obj/Debug/netcoreapp3.1/WebHookGenerator.AssemblyInfoInputs.cache
WebHookGenerator/obj/Debug/netcoreapp3.1/WebHookGenerator.assets.cache
WebHookGenerator/obj/Debug/netcoreapp3.1/WebHookGenerator.csproj.FileListAbsolute.txt
WebHookGenerator/obj/Debug/netcoreapp3.1/WebHookGenerator.csprojAssemblyReference.cache
WebHookGenerator/obj/Debug/netcoreapp3.1/WebHookGenerator.exe
WebHookGenerator/obj/project.assets.json
WebHookGenerator/obj/project.nuget.cache
WebHookGenerator/obj/publish/osx-x64/project.assets.json
WebHookGenerator/obj/publish/osx-x64/project.nuget.cache
WebHookGenerator/obj/publish/osx-x64/WebHookGenerator.csproj.nuget.dgspec.json
WebHookGenerator/obj/publish/osx-x64/WebHookGenerator.csproj.nuget.g.props
WebHookGenerator/obj/publish/osx-x64/WebHookGenerator.csproj.nuget.g.targets
WebHookGenerator/obj/publish/win-x86/project.assets.json
WebHookGenerator/obj/publish/win-x86/project.nuget.cache
WebHookGenerator/obj/publish/win-x86/WebHookGenerator.csproj.nuget.dgspec.json
WebHookGenerator/obj/publish/win-x86/WebHookGenerator.csproj.nuget.g.props
WebHookGenerator/obj/publish/win-x86/WebHookGenerator.csproj.nuget.g.targets
WebHookGenerator/obj/Release/netcoreapp3.1/osx-x64/Link.semaphore
WebHookGenerator/obj/Release/netcoreapp3.1/osx-x64/WebHookGenerator
WebHookGenerator/obj/Release/netcoreapp3.1/osx-x64/WebHookGenerator.AssemblyInfo.cs
WebHookGenerator/obj/Release/netcoreapp3.1/osx-x64/WebHookGenerator.AssemblyInfoInputs.cache
WebHookGenerator/obj/Release/netcoreapp3.1/osx-x64/WebHookGenerator.assets.cache
WebHookGenerator/obj/Release/netcoreapp3.1/osx-x64/WebHookGenerator.csproj.CopyComplete
WebHookGenerator/obj/Release/netcoreapp3.1/osx-x64/WebHookGenerator.csproj.CoreCompileInputs.cache
WebHookGenerator/obj/Release/netcoreapp3.1/osx-x64/WebHookGenerator.csproj.FileListAbsolute.txt
WebHookGenerator/obj/Release/netcoreapp3.1/osx-x64/WebHookGenerator.csprojAssemblyReference.cache
WebHookGenerator/obj/Release/netcoreapp3.1/osx-x64/WebHookGenerator.genruntimeconfig.cache
WebHookGenerator/obj/Release/netcoreapp3.1/osx-x64/WebHookGenerator.pdb
WebHookGenerator/obj/Release/netcoreapp3.1/WebHookGenerator.AssemblyInfo.cs
WebHookGenerator/obj/Release/netcoreapp3.1/WebHookGenerator.AssemblyInfoInputs.cache
WebHookGenerator/obj/Release/netcoreapp3.1/WebHookGenerator.assets.cache
WebHookGenerator/obj/Release/netcoreapp3.1/WebHookGenerator.csproj.CopyComplete
WebHookGenerator/obj/Release/netcoreapp3.1/WebHookGenerator.csproj.CoreCompileInputs.cache
WebHookGenerator/obj/Release/netcoreapp3.1/WebHookGenerator.csproj.FileListAbsolute.txt
WebHookGenerator/obj/Release/netcoreapp3.1/WebHookGenerator.csprojAssemblyReference.cache
WebHookGenerator/obj/Release/netcoreapp3.1/WebHookGenerator.exe
WebHookGenerator/obj/Release/netcoreapp3.1/WebHookGenerator.genruntimeconfig.cache
WebHookGenerator/obj/Release/netcoreapp3.1/WebHookGenerator.pdb
WebHookGenerator/obj/Release/netcoreapp3.1/win-x64/WebHookGenerator.AssemblyInfo.cs
WebHookGenerator/obj/Release/netcoreapp3.1/win-x64/WebHookGenerator.AssemblyInfoInputs.cache
WebHookGenerator/obj/Release/netcoreapp3.1/win-x64/WebHookGenerator.assets.cache
WebHookGenerator/obj/Release/netcoreapp3.1/win-x64/WebHookGenerator.csproj.CopyComplete
WebHookGenerator/obj/Release/netcoreapp3.1/win-x64/WebHookGenerator.csproj.CoreCompileInputs.cache
WebHookGenerator/obj/Release/netcoreapp3.1/win-x64/WebHookGenerator.csproj.FileListAbsolute.txt
WebHookGenerator/obj/Release/netcoreapp3.1/win-x64/WebHookGenerator.csprojAssemblyReference.cache
WebHookGenerator/obj/Release/netcoreapp3.1/win-x64/WebHookGenerator.exe
WebHookGenerator/obj/Release/netcoreapp3.1/win-x64/WebHookGenerator.genruntimeconfig.cache
WebHookGenerator/obj/Release/netcoreapp3.1/win-x64/WebHookGenerator.pdb
WebHookGenerator/obj/Release/netcoreapp3.1/win-x86/Link.semaphore
WebHookGenerator/obj/Release/netcoreapp3.1/win-x86/WebHookGenerator.AssemblyInfo.cs
WebHookGenerator/obj/Release/netcoreapp3.1/win-x86/WebHookGenerator.AssemblyInfoInputs.cache
WebHookGenerator/obj/Release/netcoreapp3.1/win-x86/WebHookGenerator.assets.cache
WebHookGenerator/obj/Release/netcoreapp3.1/win-x86/WebHookGenerator.csproj.CopyComplete
WebHookGenerator/obj/Release/netcoreapp3.1/win-x86/WebHookGenerator.csproj.CoreCompileInputs.cache
WebHookGenerator/obj/Release/netcoreapp3.1/win-x86/WebHookGenerator.csproj.FileListAbsolute.txt
WebHookGenerator/obj/Release/netcoreapp3.1/win-x86/WebHookGenerator.deps.json
WebHookGenerator/obj/Release/netcoreapp3.1/win-x86/WebHookGenerator.exe
WebHookGenerator/obj/Release/netcoreapp3.1/win-x86/WebHookGenerator.genruntimeconfig.cache
WebHookGenerator/obj/Release/netcoreapp3.1/win-x86/WebHookGenerator.pdb
WebHookGenerator/obj/WebHookGenerator.csproj.nuget.dgspec.json
WebHookGenerator/obj/WebHookGenerator.csproj.nuget.g.props
WebHookGenerator/obj/WebHookGenerator.csproj.nuget.g.targets
.vs/WebHookGenerator/v16/.suo
.vs/WebHookGenerator/DesignTimeBuild/.dtbcache.v2
WebHookGenerator/Properties/PublishProfiles/FolderProfile.pubxml.user
WebHookGenerator/Properties/PublishProfiles/FolderProfile.pubxml
